
*{
	margin: 0;
	padding: 0;
	user-select: none;
}

body{
	font-family: "roboto", sans-serif;
}

.container nav.desk,
.container nav.mob{
	
	width: 100%;
	background: #666666;
	height: 60px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
	position: fixed;
	top: 0px;
	left: 0px;
}

nav.desk ul{
	list-style: none;
	width: 75%;
	height: 60px;
	margin: 0 auto;
	
}

nav.desk ul li{	
	width: 20%;
	float: left;
	text-align: center;
	line-height: 60px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all .5s ease;
		
}

nav ul li:hover{
	background: #8d8d8d;
}

nav ul li.active{
	background: #8d8d8d;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav.mob{
	display: none;
}

@media screen and (max-width: 700px){
	nav.desk{
	display: none;
	}
	
	nav.mob, 
	.hamburger-btn{
	display: block;
	}
	
	.hamburger-btn{
	position: relative;
	}
	
	
	.hamburger-btn .fa-xmark,
	.hamburger-btn .fa-bars{
	position: fixed;
	right: 25px;
	top: 15px;
	font-size: 35px;
	color: #fff;
	text-align: center;
	}
	
	.mob ul	{
	margin-top: 60px;
	background: #606060;
	display: none;
	}
	
	.mob li{
	text-transform: uppercase;
	text-align: center;
	padding: 15px;
	cursor: pointer;
	}
	
	.mob ul.active{
	display: block;
	}
}







